/* Adapted from https://codepen.io/NeZaMy/pen/ZWNePP */
.accordion:first-of-type{
    border-radius: 1rem 1rem 0rem 0rem;
    margin-top: 1rem;
}
.accordion:last-of-type{
    border-radius: 0rem 0rem 1rem 1rem;
    padding-bottom: 24px;
}
.accordion:last-of-type > section{
    border-bottom: 0px !important;
}
.accordion{
	transform: translateZ(0);
    background: var(--Accent);
    padding: 24px 32px 0px 32px;
}

.accordion > .accordion-toggle{
	position: absolute;
	opacity: 0;
	display: none;
}

.accordion > label{
	position: relative;
	display: block;
	padding-bottom: 16px;
	line-height: 150%;
	font-size: 1.1rem;
	font-weight: 450;
	cursor: pointer;
}

.accordion > label svg {
    position: absolute;
    top: 5px;
    right: 0px;
    transform: rotate(0deg);
    transition: .5s transform;
  }

.accordion > section{
	max-height: 0;
	transition: .5s all;
	overflow: hidden;
    border-bottom: .5px solid var(--Shadow);
}

.accordion > .accordion-toggle:checked ~ label svg{
 transform: rotate(180deg);
}

.accordion > .accordion-toggle:checked ~ section{
  max-height: 500px;
}
#Design-Section{
    display: block;
}

.accordion li{
    margin-top: .5rem !important;
    margin-left: -22px;
}
.accordion ul{
    margin-bottom: 2rem;
}